/* CSS file */
 
#centerSection
{
	 margin: 15% 0px; 	 
}
 
 
.Content {	
	margin: 0px auto;
	width:320px;
/* 	height:200px; */
	border-width: 1px;
	border-color: #C3C3C3;
	padding-bottom : 5px;
	background-color:#FFFFFF;
}

.innerContent
{
	border: 0;
	align:left;
	padding-left:0px;
	margin-top : 15px;
}

.ui-inputfield
{
	color: #cccccc;
	width: 200px !important;
	height: 22px  !important;
	border: 1px solid #D2D2D2 !important;
	font-family: Helvetica neue, Calibri, Roboto !important;
	-moz-box-shadow: inset 0 0px 0px gray;
    -webkit-box-shadow: inset 0 0px 0px  gray !important;
    box-shadow: inset 0 0px 0px  gray !important;	
 }
 
 /* to change fon size of text input */
 .ui-widget-header .ui-inputfield,
.ui-widget-content .ui-inputfield {
	/*color: #cccccc;*/
	font-weight: bold;
    font-size: 14px;
 }


 /* to remove blue border from highlighted textbox*/
.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus 
{
	-moz-box-shadow: inset 0 0px 0px gray;
    -webkit-box-shadow: inset 0 0px 0px  gray;
    box-shadow: inset 0 0px 0px gray; 
    border: none;
}

/********************** html placeholder style ********************/
::-webkit-input-placeholder {
	color: #cccccc;
    font-size: 12px;
    font-family: Helvetica neue, Calibri, Roboto;
	font-weight: normal !important;
}

:-moz-placeholder {
	color: #cccccc;
    font-size: 12px;
    font-family: Helvetica neue, Calibri, Roboto;
	font-weight: normal !important;
}

.ui-watermark {
	color: #cccccc;
    font-size: 12px;
    font-family: Helvetica neue, Calibri, Roboto;
	font-weight: normal !important;
}
/****************************************************************/

.loginStyle1
{
	padding-left:20px;
	padding-right: 0px;
}

.loginStyle2
{
	padding-left: 0px;
	width: 252px;
}

.imageLinks
{
	width: 100%;
	height:40px;
	border:0; 
	padding:0px;
	font-size: 12px;
	font-family: Helvetica neue, Calibri, Roboto;
	font-weight: normal !important;
}

.imageLinksSmall
{
	width: 40%;
	height:30px;
	border:0; 
	padding:0px;
	font-size: 12px;
	font-family: Helvetica neue, Calibri, Roboto;
	font-weight: normal !important;
}

.separator 
{
	border:1px;
	width:80%;
	vertical-align:center;
	border-color: gray;
	background-color: gray;
}

.popupLinks
{
 	border:0; 
	padding:0px;
	font-size: 13px !important;
	font-family: Helvetica neue, Calibri, Roboto;
	font-weight: bold !important;
	color :#254d7e;
	text-decoration: underline;
}

.popupLinks:hover
{
	text-decoration: underline;
	cursor: hand;
}

 
.ui-messages-error, .ui-message-error
{
	color : #b94a48;
	border : none;
	background-image: none;
	background-color: transparent;
	padding-top : 0px;
	padding-bottom : 0px;
	margin-top : 0px;
	margin-bottom : 0px;
	font-size: 10pt;
}

.ui-messages-info , .ui-message-info 
{
	color : #3AAEDE;
	border : none;
	background-image: none;
	background-color: transparent;
	padding-top : 0px;
	padding-bottom : 0px;
	margin-top : 0px;
	margin-bottom : 0px;
	font-size: 10pt;
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon
{
	background: none;
} 

 