/* CSS file */
body {
/* 	margin: 10% 0px; */
	padding: 0px;
	/*text-align: center;*/
	background-color: none;
	background-image: url(../../resources/images/main_bg.jpg);
	font-size: 12px;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe Script", "Segoe Print";	
}

#centerSection
{
	 margin: 20% 0px; 	 
}

 #header 
{
	left: 0px;
	top: 94px;
	position: absolute;
	width: 100%;
	height: 60px;
	z-index: 19;
	background-color: #372949;
	background-image: url('../../resources/images/headerbg.png') ;
	background-repeat: no-repeat;
	background-position: center;
}

#headerText 
{
   	padding-top: 10px;
  	margin : auto;
  	position: relative; 
 	height: 27px;
	z-index: 20;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe Script", "Segoe Print";
	color: #FFF;
	font-size: 29px;
	font-weight: lighter;
	vertical-align: middle;
	width : 80%;
	/*text-align: center;*/
} 

#welcomeText
{
	/*padding-top: 10px;*/
  	margin : auto;
  	position: relative; 
 	height: 27px;
	z-index: 20;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe Script", "Segoe Print";
	color: #FFF;
	font-size: 29px;
	font-weight: lighter;
	vertical-align: middle;
	/*text-align: center;*/
	float: right;
	width : 20%;
	padding-right: 10px;
}

#footer 
{
	left: 0px;
	bottom: 0;
    position: fixed;
	width: 100%;
	height: 28px;
	z-index: 47;
	background-color: #4f3969;
	background-image: url('../../resources/images/footerbg.png');
 	background-repeat: no-repeat;
 	background-position: center;
 	
} 
 
 #footerText 
{
   	padding-top: 5px;
  	margin : auto;
  	position: relative; 
 	height: 25px;
	z-index: 44;
	font-family: "Segoe UI", "Segoe UI Light", "Segoe Script", "Segoe Print";
	color: #FFF;
	font-size: 15px;
	font-weight: lighter;
	vertical-align: middle;
	text-align: center;
} 
  

.ui-panel .ui-panel-content
{
	padding : 0px;
}
  

.mainBackGround
{	
	background-image: url(../resources/images/main_bg.jpg);
	border:0;
	text-align:center;
}

  .ui-widget-header {
	background-image: none;
	background-color:  #2E608C;
	color : white;
	font-weight: bold;
} 
 
  .ui-datatable th 
 {
	background-image: none !important;
	background-color:  #2E608C !important;
	color : white !important;
	font-weight: bold !important;
	font-size: 13px;
} 
 
.ui-datatable .ui-paginator, .ui-datatable .ui-paginator
 {
 	background-image: none !important;
	background-color: transparent;
	border : none;
 }
 
 
 .ui-widget-content {
	background-image: none;
	border-width: 1px;
	border-color: #C3C3C3;
}  

.ui-panel-content {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-image: none;
}

.ui-widget {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 12px;
	font-family: Helvetica neue, Calibri, Roboto;
	text-decoration: none;
	/* font-size: 100%;*/
}

.ui-panel-titlebar {
	height: 22px;
	font-size: 22px;
	font-family: Helvetica neue, Calibri, Roboto;
	font-weight: bold;
	vertical-align: middle;
	background-color:  #2E608C;
	color : white;
}

.ui-panel .ui-panel-titlebar {
	background-color: #2E608C;
	color: #FFFFFF;
	padding: 4px 4px 6px 4px;
}
  
  
/* for menubar */

.ui-menu
{
	padding : 0px;	
}
.ui-menubar
{
	border : none;
}

.ui-menubar .ui-menuitem-link
{
	width:80px;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: bold;
	color: #2E608C;
}

ul li.ui-menuitem-active>a{
    background-image: none !important;
    background-color:#D10D10  !important;    
}

li ul li.ui-menuitem-active>a{
    background-image: none !important;
    background-color: #A5E6F8 !important;    
}

.ui-menubar .ui-menuitem-link.ui-state-hover
{
	color:white;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 14px;
	border-radius: 8px;
}


/* for page menu td*/
.menuTd
{
	padding-right:70px; 
	vertical-align:bottom; 
}


/* for logout links */
.right 
{
 	width:65px;
	color:white;
 	font-weight: bold;
 	font-size: 14px;
	padding-top:60px;
	background-color: #1a82f7;
 	background-repeat: repeat-x;
 	text-align: center;
	
	/* Safari 4-5, Chrome 1-9*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
	/* Safari 5.1, Chrome 10+*/
	background: -webkit-linear-gradient(bottom, #2F2727, #1a82f7);
	/*  Firefox 3.6+*/
	background: -moz-linear-gradient(bottom, #2F2727, #1a82f7);
	/*  IE 10*/
	background: -ms-linear-gradient(bottom, #2F2727, #1a82f7);
	 /*Opera 11.10+*/
	 background: -o-linear-gradient(bottom, #2F2727, #1a82f7);
}
	
	
.loginTopLink
{
	 font-weight: bold;
 	 font-size: 14px;
} 